.cssgrid {
    display: grid;
    margin: 0;
    grid-template-columns: 5fr 12fr 2fr 12fr 5fr;
    grid-template-rows: 5fr 2fr 12fr 1fr 12fr 2fr 5fr;
    text-align: center;
    background-color: #3D3737;
    color: #fff7f7;
    font-family: 'Times New Roman', Times, serif;
}
header {
    grid-row: 1/2;
    grid-column: 1/6;
    background-color: #2b2828;
}
header a {
    display: flex;
    align-items: center;
    background-color: #414141;
    color: #fff7f7;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1vh; /*Kanske göra konstant så att länkarna i header inte är olika breda*/
    border: 1vh;
    border-color: #383838;
    border-style: solid;
    margin: 2vh;
}
header a:hover {
    background-color: #383838;
    color: #fff7f7;
    border-color: #414141;
}
h2 {
    color: #AA2727;
}
h3 {
    color: #AA2727;
}
footer {
    display: flex;
    grid-row: 7/8;
    grid-column: 1/6;
    background-color: #2b2828;
    align-items: center;
}
.headflex {
    display: flex;
    justify-content: space-between;
}
.navflex {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
#linkTH {
    grid-row: 3/4;
    grid-column: 2/3;
}
#linkOG {
        grid-row: 3/4;
    grid-column: 4/5;
}
#linkIF {
    grid-row: 5/6;
    grid-column: 2/3;
}
#linkLN {
    grid-row: 5/6;
    grid-column: 4/5;
}
.linkflex {
    display: flex;
    background-color: #474747;
    color: #fff7f7;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 3vh;
    border-color: #424040;
    border-style: solid;
}
.linkflex:hover {
    background-color: #424040;
    color: #fff7f7;
    border-color: #474747;
}
.asideflex {
    display: flex;
    grid-row: 2/7;
    grid-column: 1/2;
    flex-flow: column;
    background-color: #424040;
    margin-right: 2vh;
    justify-content: space-evenly;
}
.flexMain {
    display: flex;
    grid-row: 2/7;
    grid-column: 2/5;
    flex-flow: column;
    justify-content: space-evenly;
}
.flexLinks {
    display: flex;
    grid-row: 2/7;
    grid-column: 1/6;
    margin: 4vh;
    flex-flow: column;
    align-items: flex-start;
}