.cssgrid {
  display: grid;
  margin: 0;
  grid-template-columns: 5fr 12fr 1fr 12fr 5fr;
  grid-template-rows: 13vmax 2vmax 25vmax auto 25vmax 2vmax 8vmax; /*använde tidigare fr, men det gjorde att headerns storlek varierade, specifikt i touhou.html*/
  text-align: center;
  background-color: #3d3737;
  color: #fff7f7;
  font-family: "Times New Roman", Times, serif;
}
header {
  grid-row: 1/2;
  grid-column: 1/6;
  background-color: #2b2828;
  z-index: 1; /*Onödigt för nu, men behövdes i footer p.g.a .asideflex, så den är där för säkerhets skull*/
}
header a {
  display: flex;
  align-items: center;
  background-color: #414141;
  color: #fff7f7;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1vh; /*Kanske göra konstant så att länkarna i header inte är olika breda*/
  border: 1vh;
  border-color: #383838;
  border-style: solid;
  margin: 2vh;
}
header a:hover {
  background-color: #383838;
  color: #fff7f7;
  border-color: #414141;
}
h2 {
  color: #aa2727;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  color: #aa2727;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 4%;
}
h4 {
  color: #aa2727;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 2%;
}
.asideflex h4 {
  margin: 10%;
}
a h4 {
  margin: 0;
}
footer {
  display: flex;
  grid-row: 7/8;
  grid-column: 1/6;
  background-color: #2b2828;
  align-items: center;
  z-index: 1;
}
.headflex {
  display: flex;
  justify-content: space-between;
}
.navgrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr;
  grid-template-rows: 1fr;
}
#linkIF {
  grid-row: 3/4;
  grid-column: 2/3;
}
#linkTH {
  grid-row: 3/4;
  grid-column: 4/5;
}
#linkTH p{
  font-size: 4vmax;
  color: #fff7f7;
  margin: 0%;
}
#linkOG {
  grid-row: 5/6;
  grid-column: 2/3;
}
#linkLN {
  grid-row: 5/6;
  grid-column: 4/5;
}
.linkflex {
  display: flex;
  background-color: #474747;
  color: #fff7f7;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 3vh;
  border-color: #424040;
  border-style: solid;
}
.linkflex:hover {
  background-color: #424040;
  color: #fff7f7;
  border-color: #474747;
}
.asideflex {
  display: flex;
  grid-row: 2/7;
  grid-column: 1/2;
  height: 100vh;
  flex-flow: column;
  background-color: #424040;
  margin-right: 2vh;
  justify-content: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.flexMain {
  display: flex;
  grid-row: 2/7;
  grid-column: 2/5;
  flex-flow: column;
}
.flexLinks {
  display: flex;
  grid-row: 2/7;
  grid-column: 1/6;
  margin: 4vh;
  flex-flow: column;
  align-items: flex-start;
}
a {
  text-decoration: underline;
  color: #fff7f7;
  margin: 2vh;
}
a:hover {
  color: #aa2727;
}
.sublink {
  font-size: 0.8rem;
  text-align: left;
}
